@page "/Project/{Id}"
@inject ProjectService projectService
@inject NavigationManager NavigationManager



<AuthorizeView  Context="Auth">
@if(Project == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">

        <div class="row">
            <div class="col-md-6">  
                <h1>@Project.Name</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end">  
                <button class="btn btn-primary" @onclick="() => OnEditClicked(Project.Id)">Edit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">  
                <p>@Project.Manager</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>@Project.Staff</p>
            </div>
        </div>

        <hr/>
        <p>@Project.Description</p>

    
        @if(Project.RiskList != null)
        {
            <hr/>
            <h3>Risks</h3>
            <div class="col card m-1" style=" height: 500px !important; overflow-y: scroll; overflow-x: hidden;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date of creation</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var risk in Project.RiskList)
                        {
                            <tr>
                                <th>
                                    @risk.CustomId 
                                </th>
                                <td>@risk.Name</td>
                                <td>@risk.Category</td>
                                <td>@risk.CreatedDate.ToString("dd.MM.yyyy")</td>
                                <td>  
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-primary" @onclick="() => OnDetailClicked(risk.Id)">Detail</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <hr/>
            <h3>Risk matrix</h3>
            <RiskMatrix Project="@Project"></RiskMatrix>
        }
    </div>
}
</AuthorizeView>
@code {
    [Parameter]
    public string Id { get; set; }

    ProjectEntity Project = new ProjectEntity();

    private void OnDetailClicked(int id)
    {
        NavigationManager.NavigateTo($"/Risk/{id}");
    }
    private void OnEditClicked(int id)
    {
        NavigationManager.NavigateTo($"/EditProject/{id}");
    }
    protected override async Task OnInitializedAsync()
    {
        Project = await projectService.GetProjectAsync(Convert.ToInt32(Id));
    }
}