@page "/Risk/{Id}"
@inject RiskService riskService
@inject NavigationManager NavigationManager

@if(Risk == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5>@Risk.Project.Name</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">  
                <h1>@Risk.Name</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end">  
                <button class="btn btn-primary" @onclick="() => OnEditClicked(Risk.Id)">Edit</button>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                <p>@Risk.Category</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>@Risk.Owner</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>@Risk.Description</p>
            </div>
        </div>

        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h5>Threat</h5>
                <p>@Risk.Threat</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Starters</h5>
                <p>@Risk.Starters</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Reaction</h5>
                <p>@Risk.Reaction</p>
            </div>
        </div>

        <hr/>

        @* Name???
        <div class="row">
            <div class="col-md-12">
                <p>@Risk.Probability</p>, <p>@Risk.Consequences</p>
            </div>
        </div>

        <hr/>
        *@
        <div class="row">
            <div class="col-md-12">
                <h2>@Risk.State</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Created @Risk.CreatedDate</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Modified state @Risk.ModifiedStateDate</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Reaction @Risk.ReactionDate</p>
            </div>
        </div>

    </div> 
}

@code
{
    [Parameter]
    public string Id { get; set; }

    public RiskEntity Risk { get; set; }

   
    private void OnEditClicked(int id)
    {
        NavigationManager.NavigateTo($"/EditRisk/{id}");
    }
    protected override async Task OnInitializedAsync()
    {
        Risk = await riskService.GetRiskAsync(Convert.ToInt32(Id));
    }
}